<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor type="Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel">
                    <patch:attribute name="type">Rippleffect.BoltonWanderers.Integration.Pipeline.HttpRequest.NotFoundRequestProcessor, Rippleffect.BoltonWanderers.Integration</patch:attribute>
                </processor>
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>