<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="core" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=LucinqSitecore_Core"/>
    <add name="master" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=LucinqSitecore_Master"/>
    <add name="web" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=LucinqSitecore_Web"/>
    <add name="cardata" connectionString="user id=sitecore;password=sitecore;Data Source=.;Database=CarData"/>
  </connectionStrings>
</configuration>