<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <add name="core" connectionString="user id=sitecore;password=sitecore;Data Source=lucinq.database;Database=lucinqSitecore_Core"/>
    <add name="master" connectionString="user id=sitecore;password=sitecore;Data Source=lucinq.database;Database=lucinqSitecore_Master"/>
    <add name="web" connectionString="user id=sitecore;password=sitecore;Data Source=lucinq.database;Database=lucinqSitecore_Web"/>
</connectionStrings>